<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
	<alias alias="IAuthenticationService" type="MailClient.Core, IAuthenticationService" />
	<alias alias="IMailAccountService" type="MailClient.Core, IMailAccountService" />
	<containers>
		<container name="BLL">
			<register type="IAuthenticationService"
				  mapTo=" MailClient.BLL.AuthenticationService,
                      MailClient.BLL"/>
			<register type="IMailAccountService"
						mapTo=" MailClient.BLL.MailAccountService,
                        MailClient.BLL"/>
		</container>
	</containers>
</unity>