<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
	<containers>
    <container>
      <types>
        <type type="IAuthServiceBLL"
              mapTo=" MailClient.BLL.AuthServiceBLL,
                      MailClient.BLL">
          <lifetime type="singleton" />
        </type>
        <type type="IMailServiceBLL"
                mapTo=" MailClient.BLL.AuthServiceBLL,
                        MailClient.BLL">
            <lifetime type="singleton" />
          </type>
      </types>
    </container>
  </containers>
</unity>